@import "tei.css";

body {
    font-family: 'Courier New', Courier, monospace;
}

table {
    border: 0px solid black;
}

td {
    border: 1px solid rgb(0, 157, 219);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

th.group-label {
    width: 5%;
}

td.item {
    padding: 0.5em;
    background: rgba(3, 181, 252, 0.384);
}

td.item.empty {
    padding: 0.5em;
    border-color: rgba(163, 163, 163, 0.384);
    background: rgba(163, 163, 163, 0.384);
}

