@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace syn "https://sub.uni-goettingen.de/met/standards/synopsis#";



xi|include {
    padding: 0;
    margin: 0;
    -oxy-display-tags: none;
}

group:before {
    display: block;
    content: attr(n);
    font-size: large;
}

group {
    display: block;
    border-left: 5px solid brown;
    padding: 0.5em;
    background: rgba(192, 151, 151, 0.2);
}

group > item {
    display: inline-block;
    -oxy-display-tags: none;
    background: rgba(214, 171, 171, 0.30);
    background: rgb(253, 253, 253);
}



/*item[href][ref]:after {
    -oxy-link: oxy_xpath('@href||"#"||@ref');
    content: oxy_xpath('@href||"#"||@ref');
    display: block;
}*/
item {
    /* color: gray; */
    font-style: normal;
    background: lightgray !important;
}

item[expanded] {
    /* color: black; */
    font-style: normal;
    background: rgb(253, 253, 253) !important;
}


item[ref] {
    display: block;
    border: 1px solid brown;
    padding: 1em;
}

item[ref] > * {
    -oxy-display-tags: none;
}

item[ref]:after(10) {
    display: block;
    font-style: normal;
    position: absolute;
    padding-top: 1rem;
    font-family: sans-serif;
    color: gray;
    padding-left:-1em;
}


item[href][ref] {
    -oxy-link: oxy_xpath('@href||"#"||@ref');
    content: oxy_xpath('if (not(count(child::element()) > 0)) then (for $item in . return doc($item/@href)/id($item/@ref) => data()) else()');
}

item[href][ref]:after(10) {
    content: oxy_xpath('for $item in . return //*:texts/*:text[@href = $item/@href]/*:title => data() || ", " || $item/@ref');

}

item[href][ref]:focus-within:after(10) {
    content: oxy_xpath('@href||"#"||@ref');
}



item[text][ref] {
    -oxy-link: oxy_xpath('for $item in . return //id($item/@text)/@href||"#"||$item/@ref');
    content: oxy_xpath('if (not(count(child::element()) > 0)) then (for $item in . return doc(//id($item/@text)/@href)/id($item/@ref) => data()) else()');
}

item[text][ref]:after(10) {
    content: oxy_xpath('for $item in . return //id($item/@text)/*:title => data() || ", " || $item/@ref');
}


item[text][ref]:focus-within:after(10) {
    content: oxy_xpath('for $item in . return //id($item/@text)/@href||"#"||@ref');
    content: oxy_xpath('for $item in . return $item/@text||"#"||@ref');
}






line, 
tei|seg, 
tei|ab {
    display: inline-block;
}

synopsis {
    display:block;
}

texts{
    display: block;
}

